*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
:root{
    font-size:62.5%;
}
:root.dark {
    --background:#141D2F;
}
:root.light {
    --background:#F6F8FF;
    
}
body{
    background-color:var(--background,#141D2F)
  
}

.container{
font-family: 'Space Mono', monospace;
padding: 2.4rem;

.moon{
    padding: 1.6rem;
    display:none;
 &__header {
                margin-top: 3.4rem;
                color: #222731;
                    font-family: Space Mono;
                    font-size: 26px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
    
            }
    
            &__sub-text{
                margin-top: 4.0rem;
                margin-left: 20.5rem;
                margin-right: 6.0rem;
                color: white;
                text-align: right;
                font-family: Space Mono;
                font-size: 13px;
                font-weight: bold;
                letter-spacing: 2.5px;
                position: absolute;
                top: 6.2%;
            }
}
.header{
    padding:1.6rem;
    &__heading{
        margin-top: 3.4rem;
    color: #FFF;
        font-family: Space Mono;
        font-size: 26px;
        font-style: normal;
        font-weight: bold;
           
    }
    &__sub-heading{
        margin-top: 4.0rem;
        margin-left:20.5rem;
        margin-right:6.0rem;
        color: white;
            text-align: right;
            font-family: Space Mono;
            font-size: 13px;
            font-weight: bold;
            letter-spacing: 2.5px;
            position: absolute;
            top:6.2%;
    }
    img{
        margin-left: 28rem;
            margin-right: 6.0rem;
            position: absolute;
            top:11.7%;
    }
    &__form{
        width: 327px;
        height: 60px;
        background-color: #1E2A47;
        border-radius: 15px;
    }
    &__search{
        color: #FFF;
            font-family: Space Mono;
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
            line-height: 25px;
            margin-top:1.8rem;
            margin-right:11rem;
            float: right;
    }
    &__click{
        float:right;
        margin-top: 6px;
        position: absolute;
right:3.6rem;
        padding: 1.4rem;
        border-radius: 10px;
            background: #0079FF;
            width: 84px;
                height: 46px;
                border: none;
                color: #FFF;
                    font-family: Space Mono;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    
    }
}
svg{
margin: 1.9rem;
}
.main{
    border-radius: 15px;
        background: #1E2A47;
        width: 327px;
            height: 517px;
            padding: 24px;
            margin-top:16px;
            &__column1 {
                    border-radius: 10px;
                    background-color: #141D2F;
                    width: 279px;
                    height: 85px;
                    margin-top: 23px;
                    display: grid;
                    grid-template-columns: auto auto auto;
                   }
                       
                   &__headers{
                    color: #FFF;
                    margin-left:29px;
                   font-family: Space Mono;
                        font-size: 11px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        margin-top:18px;
                   }
                                         &__numbers {
                                        color: #FFF;
                                            text-align: center;
                                            font-family: Space Mono;
                                            font-size: 16px;
                                            font-style: normal;
                                            font-weight: 700;
                                            line-height: normal;
                                            text-transform: uppercase;
                                            
                                         }
}
.content{
    color: #FFF;
        font-family: Space Mono;
       float: right;
       width:60%;
         
        
        &__head{
            color: #FFF;
                font-family: Space Mono;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                

        }
                         &__head1 {
                            color: #0079FF;
                                font-family: Space Mono;
                                font-size: 13px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;
            
            
                         }
                         &__head2{
                             color: #FFF;
                                font-family: Space Mono;
                                font-size: 13px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;
                         }
                            &__head3 {
                                margin-top:3.4rem;
                           color: #FFF;
                            font-family: Space Mono;
                            font-size: 13px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 25px;
                        width:279px;
                        letter-spacing: 1.5px;
                                }

}
.countries{
padding: 20px;
    li{
        
        padding: 4px;
        text-decoration: none;
        list-style: none;
        color: #FFF;
            font-family: Space Mono;
            font-size: 13px;
            font-weight: 400;
                     line-height: 30px;
    }
}
}

